@import "~bootstrap/scss/bootstrap-grid";

:host {
    @include media-breakpoint-down(sm) {
        .stepper-view-container {
            &.mobile-vertical {
                box-shadow: none;

                .step-container {

                    .step-title {
                        text-align: left;
                        margin: 0 0 0 15px;
                        padding: 31px 0 0 0;
                        overflow-x: hidden;
                        min-width: 160px;

                        &.beginning {
                            padding-top: 0;
                        }

                        .title {
                            white-space: nowrap;
                            text-overflow: ellipsis;
                            color: #4d4f57;
                            font-weight: bold;
                            margin-bottom: 2px;
                        }

                        .sub-title {
                            font-size: 12px;
                            color: #606060;
                            margin-bottom: 2px;
                        }

                        .date {
                            font-size: 12px;
                            font-weight: normal;
                            color: #959494;
                        }

                    }

                    .step {
                        // &.beginning {
                        //     margin-top: 10px;
                        // }

                        &.in-progress {
                            .step-separator {
                                min-height: 45px;

                                &.to:not(.end), &.from {
                                    border-left: 4px dotted #00aa00;
                                    border-top: 0;
                                    margin: 2px auto;
                                }
                            }

                            &.last:not(.completed) {
                                .step-separator {
                                    &.to {
                                        background-color: transparent;
                                        border: 0;
                                        margin: 0;
                                    }
                                }
                            }
                        }

                        &.completed {
                            &.in-progress {
                                .step-separator {
                                    &.from {
                                        background-color: #003c69 !important;
                                        border: 0;
                                        margin: 0 auto;
                                    }
                                }

                                &.last {
                                    .step-separator {
                                        &.to:not(.end) {
                                            border-left: 4px dotted #00aa00;
                                            border-top: 0;
                                            margin:2px auto;
                                        }
                                    }
                                }
                            }
                        }

                        &.completed {
                            .step-separator {
                                // background-color: #003c69;

                                &.beginning {
                                    border-radius: 5px 0 0 5px;
                                    background: rgb(255, 255, 255);
                                    background: linear-gradient(90deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 44%, #003c69 82%);
                                }

                                &.end {
                                    border-radius: 0 5px 5px 0;
                                    background: rgb(255, 255, 255);
                                    background: linear-gradient(90deg, #003c69 0%, rgba(255, 255, 255, 1) 44%, rgba(255, 255, 255, 1) 82%);
                                }
                            }
                        }
                    }
                }

                .step-separator {
                    width: 2px;
                    min-height: 45px;
                    margin: -5px auto 0;
                    height: auto;

                    &.beginning {
                        border-radius: 5px 5px 0 0;
                    }

                    &.end {
                        border-radius: 0 0 5px 5px;
                    }
                }
            }
        }
    }
}
