@import "~bootstrap/scss/bootstrap-grid";

:host {
    @include media-breakpoint-down(sm) {
        .stepper-view-container {
            &.mobile-vertical {
                box-shadow: none;

                .step-container {
                    position: relative;

                    .step-title {
                        text-align: left;
                        margin: 0 0 0 15px;
                        padding: 31px 0 0 0;
                        overflow-x: hidden;
                        min-width: 160px;

                        &.beginning {
                            padding-top: 0;
                        }

                        .title {
                            white-space: nowrap;
                            text-overflow: ellipsis;
                            color: #4d4f57;
                            font-weight: bold;
                            margin-bottom: 2px;
                        }

                        .sub-title {
                            font-size: 12px;
                            color: #606060;
                            margin-bottom: 2px;
                        }

                        .date {
                            font-size: 12px;
                            font-weight: normal;
                            color: #959494;
                        }

                    }

                    .step {
                        position: relative;
                        display: flex;
                        flex-direction: column;
                        align-items: center;

                        // Asegurar que el ícono esté por encima de las líneas
                        .icon {
                            position: relative;
                            z-index: 2;
                            background: white;
                            
                            &.pending {
                                z-index: 2;
                                background: #e5e8ed;
                            }
                        }

                        &.beginning {
                            margin-top: 0;
                            
                            .step-separator.from {
                                display: none !important;
                            }
                        }

                        &.in-progress {
                            .step-separator {
                                min-height: 45px;

                                &.to:not(.end), &.from {
                                    border-left: 4px dotted #00aa00;
                                    border-top: 0;
                                    margin: 0 auto;
                                }
                            }

                            &.last:not(.completed) {
                                .step-separator {
                                    &.to {
                                        background-color: transparent;
                                        border: 0;
                                        margin: 0;
                                    }
                                }
                            }
                        }

                        &.completed {
                            &.in-progress {
                                .step-separator {
                                    &.from {
                                        background-color: #003c69 !important;
                                        border: 0;
                                        margin: 0 auto;
                                    }
                                }

                                &.last {
                                    .step-separator {
                                        &.to:not(.end) {
                                            border-left: 4px dotted #00aa00;
                                            border-top: 0;
                                            margin: 0 auto;
                                        }
                                    }
                                }
                            }
                        }

                        &.completed {
                            .step-separator {
                                &.beginning {
                                    border-radius: 5px 5px 0 0;
                                    background: transparent !important;
                                    min-height: 0;
                                    height: 0;
                                }

                                &.end {
                                    border-radius: 0 0 5px 5px;
                                }
                            }
                        }
                    }
                }

                .step-separator {
                    width: 2px;
                    min-height: 45px;
                    margin: 0 auto;
                    height: auto;
                    position: relative;
                    z-index: 1;

                    &.beginning {
                        border-radius: 5px 5px 0 0;
                        min-height: 0;
                        height: 0;
                        background: transparent !important;
                    }

                    &.end {
                        border-radius: 0 0 5px 5px;
                    }
                }
            }
        }
    }
}
