:host {
    .tracking-container {
        background-color: #ffffff;
        min-height: 100vh;
        background-repeat: no-repeat;
        background-position: 50% 40px;
    }
}

body.hide-hero-bg .tracking-container {
    background-image: none !important;
}
