:host {
    .page-container {
        background: #ffffff;
        min-height: 100vh;
    }

    .body { padding-bottom: 50px; }

    .loading-container {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background-color: rgb(255 255 255 / 70%);
        z-index: 5;

        img {
            width: 150px;
        }
    }
}
