:host {
    .search-box-not-found {
        padding: 10px 40px;
        border-radius: 5px;
        -webkit-box-shadow: 1px 3px 11px #CCC;
        -moz-box-shadow: 1px 3px 11px #CCC;
        box-shadow: 1px 3px 11px #CCC;
        background-color: white;
        position: relative;
        min-height: 310px;
        width: 360px;
        margin: 0 auto;

        .title {
            margin-top: 20px;
            color: #616060;
        }

        .text-not-found {
            color: #616060;
            font-size: 13px;
            margin: 54px 0;
            display: block;
            text-align: center;
        }
    }
}
