<app-tracking-search-box (search)="onSearch($event)" [searchModel]="searchModel"></app-tracking-search-box>

<div class="box-container" *ngIf="invoice">
    <app-tracking-stepper-view [steps]="invoice?.trackingSteps" [orderDetails]="invoice?.orderProducts"></app-tracking-stepper-view>
</div>

<div class="box-container">
    <app-tracking-delivery-details [pickup]="invoice?.pickup"></app-tracking-delivery-details>
</div>

<div class="box-container" *ngIf="invoice?.hasProductDetails">
    <app-tracking-order-details [orderDetails]="invoice?.orderProducts" [isBox]="true"></app-tracking-order-details>
</div>

<div class="box-container no-padding"  #trackingStepperView>
    <ng-container *ngFor="let step of invoice?.trackingSteps">
        <app-tracking-machinable-process *ngIf="step.machinable && step.machinable.orders.length > 0"
                                         [machinableProcess]="step.machinable"></app-tracking-machinable-process>
    </ng-container>

</div>


