@import "~bootstrap/scss/bootstrap-grid";

:host {
    @include media-breakpoint-down(md) {
        .box-container {
            width: 87%;
            margin: 0 auto;
            box-shadow: 1px 3px 11px #CCC;
            padding: 0 24px;
            margin: 14px auto 0 auto;

            &.no-padding {
                padding: 0;
            }
        }
    }
    .tipografia1  {
        font-weight: 600;
        font-size: 18px;
        color: #002F6C;
    }

    .tipografia2 {
        font-size: 14px;
        color: #888888;
    }
}
