@import "~bootstrap/scss/bootstrap-grid";

:host {
    @include media-breakpoint-down(md) {
        .box-container {
            width: calc(100% - 32px);
            max-width: 100%;
            margin: 16px auto 8px auto;
            box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
            padding: 16px 16px;
            border-radius: 8px;

            &.no-padding {
                padding: 0;
            }

            &:first-of-type {
                margin-top: 16px;
            }
        }
    }
    .tipografia1  {
        font-weight: 600;
        font-size: 18px;
        color: #002F6C;
    }

    .tipografia2 {
        font-size: 14px;
        color: #888888;
    }
}
