@import "theme-palette";
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$imperial-app-primary: mat-palette($imperial-blue);
$imperial-app-accent: mat-palette($imperial-red);
// $imperial-app-accent: mat-palette($imperial-red, 900, 300, 900);

// The warn palette is optional (defaults to red).
$imperial-app-warn: mat-palette($imperial-red);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as `color` or `typography`.
$imperial-app-theme: mat-light-theme((
    color: (
        primary: $imperial-app-primary,
        accent: $imperial-app-accent,
        warn: $imperial-app-warn,
    )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($imperial-app-theme);
