:host {
    .machinable-container {
        margin-bottom: 50px;

        .machinable-title {
            font-size: 14px;
            color: #4d4f57;
            margin-bottom: 2px;
            font-weight: bold;
            line-height: 26px;
        }

        .machinable-description {
            font-size: 14px;
            color: #4d4f57;
            margin-bottom: 2px;
            font-weight: bold;

            .machinable-icon {
                background: #eb414a3d;
                padding: 5px 10px;
                border-radius: 14px;
                font-size: 13px;
                vertical-align: middle;
                line-height: 16px;
                display: inline-block;
                color: #eb414a;
                font-weight: normal;

                img {
                    vertical-align: middle;
                }
            }
        }
    }
}
